<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                  <form id="login-form" class="form" action="" method="post">
                      <h3 class="text-center text-info">Login</h3>
                      <div class="form-group">
                          <label for="username" class="text-info">Username:</label><br>
                          <input type="text" class="form-control rounded-0"  name="username" [(ngModel)]="loginUserData['username']" required>
                        </div>
                      <div class="form-group">
                          <label for="password" class="text-info">Password:</label><br>
                          <input type="password" class="form-control" placeholder="password"name="password"[(ngModel)]="loginUserData['password']"required>
                        </div>
                      <div class="form-group">
                          <input type="submit" value="Login" class="btn float-right login_btn" (click)="loginUser()">                      </div>
                      <div id="register-link" class="text-right">
                          <a href="#" class="text-info"[routerLink]="['/register']" >Register here</a>
                      </div>

                  </form>
                  <br><br><br>
                  <div *ngIf="error" style="color:red;">{{error}}</div>

              </div>
          </div>


        </div>

  </div>
</div>
